{% extends 'layout.html' %}

{% block body %}
  <h1>
      <small> Hello there, {{session.username}}</small>
  </h1>

  <hr>
  {% for dev in devs %}
  <h2>Network {{ dev[0].net }}</h2>
  <table class="ui table">
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>MAC</th>
      <th>OS</th>
      <th></th>
      <th></th>
    </tr>
    {% for d in dev %}
      <tr>
        <td>{{d.hostname}}</td>
        <td>{{d.ip}}</td>
        <td>{{d.mac}}</td>
        <td>{{d.os}}</td>
        </td>
      </tr>
    {% endfor %}
  </table>
  <br>
  {% endfor %}
    <a href="create_group" class="ui button">Create new group</a>

    <a href="groups" class="ui button">Groups</a>

{% endblock %}