{% extends 'layout.html' %}

{% block body %}
    <h1>Groups</h1>

    {% for group in groups %}
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Dev</th>
                    <th></th>
              </tr>
            </thead>
            <tbody>
                {% for dev in group %}
                <tr>
                    <th>{{ dev }}</th>
                    <th>
                        <a href="edit_group" class="ui button">
                            Edit group
                        </a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <a href="create_group" class="ui button">Create new group</a>

{% endblock %}