{% extends 'layout.html' %}

{% block body %}
  <body id="root">
    <div class="ui inverted vertical center aligned segment">
      {% include 'includes/_navbar.html'%}

      <div class="ui content container">
        <h1 class="ui inverted header">See what's happening on your network</h1>
        <p>
          ...by just clicking down below.
        </p>
        <div class="ui huge button">
            <a href="/scan">
            Start scanning...
            </a>
        </div>
      </div>
    </div>
{% endblock %}







